<!doctype html>
<html>
  <head>
    <title><%= locals.title || "" %>. Points Game</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="shortcut icon" href="/favicon.ico?v=1" />
    <% if(locals.css) { %>
        <link rel="stylesheet" href="<%- locals.css %>">
    <% } %>
  </head>
  <body>
    <script type="text/javascript">
      var queue = [];
    </script>
    <div id="react-main-mount">
      <%- reactOutput %>
    </div>
    <script type="text/plain" id="componentData">
      <%- componentData %>
    </script>
    <% if(locals.initScript) { %>
        <script type="text/javascript" src="<%- initScript %>"></script>
    <% } %>
    <script type="text/javascript">
       window.queue.map(function(f){ f();})
    </script>
  </body>
</html>